:root {
    --primary-color: #6C63FF;
    --secondary-color: #f5f2fe;
    --sub-color: #294253;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    --font-main: "Lato";
    --font-another: "Playfair Display";
}

.text-sub{
    color: var(--sub-color);
}

body {
    margin: 0 auto;
}

h1,h2,h3 {
    margin: 0;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

.presentation h1,
.header h{
    font-size: 96px;
}

.presentation h2,
.header h2{
    font-size: 48px;
}

.presentation h3,
.header h3 {
    font-size: 24px;
    opacity: 0.7;
}
.about_page__info h1{
    font-size: 60px;
}

.about_page__info h2{
    font-size: 18px;
    font-weight: bold;
}

.navigation-links {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.navigation-links a,
.about_page__info a{
    border-radius: 4px;
    padding: 20px 30px;
    text-decoration: none;
    text-transform: capitalize;
    box-shadow: var(--box-shadow);
}

.contact-link,
.project-link{
    background: var(--primary-color);
    color: white;
}

.about-link {
    margin-left: 20px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.homepage-link {
    color: var(--primary-color);
    text-align: center;
    display: block;
}

.about-paragraphs {
    display: flex;
    margin: 30px 0;
}

.about-paragraphs p {
    margin: 10px;
}

.email-link {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 28px;
}

.email-link:hover {
    text-decoration: underline;
}


.navbar-brand img {
    margin-right: 10px;
}

div.row {
    margin-bottom: 60px;
}

.presentation{
    padding: 150px 50px;
    background-color: #F3F3ED;
}

.presentation h1,
.about_page h1{
    font-family: var(--font-another), Serif;
}
.presentation h2,
.presentation h3,
.about_page h2,
.about_page h3{
    font-family: var(--font-main), Serif;
}

.btn-branding-outline {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

.project-info h2{
    font-size: 64px;
}
.project-info{
    padding: 120px 60px;
}

.footer {
    text-align: center;
    margin-top: 40px;
}

.about_page,
.work_page,
.contact_page{
    padding: 100px 20px 40px;
}
.about_page__img{
    text-align: center;
}

.about_page__info{
    margin: 30px;
}

.work_page{
    text-align: center;
}

.work_page h3{
    font-weight: bold;
}

.contact_page i{
    font-size: 20px;
    margin-right: 30px;
    color: var(--primary-color);
}
nav{
    padding: 10px 0;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    list-style: none;
    line-height: 42px;
    margin-left: 15px;
}

nav a {
    text-decoration: none;
    color: #272142;
    transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
    color: var(--primary-color);
    font-weight: bold;
}

@media (max-width: 900px) {
    .content {
        text-align: center;
        padding: 0;
    }
}